@import "variables.less";

.crossSectionMap {
    min-height: 300px;
    position: relative;

    .resetView {
        position: absolute;
        top: @spacing-small;
        right: @spacing-small;
        z-index: 1000;
    }
}

.boundaryMap {
    min-height: 200px;
    position: relative;
    margin-top: 10px;
}
