@import "variables.less";

.crossSectionMap {
    min-height: 300px;
    position: relative;
    display: block;
}

.boundaryMap {
    min-height: 200px;
    position: relative;
    margin-top: 10px;
}
