.sidebar {
    float: left;
    width: 360px;
    position: fixed;
    top: 52px;
    /*	bottom: 0;
	z-index: 1000;
*/
    display: block;
    padding: 20px 20px 40px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #FFFFFF;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}

h1.sidebar-title,
h2.section-title {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.nav-sidebar button.accordion {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #DCDCDC;
    color: #4C4C4C;
    cursor: pointer;
    display: block;
    font-size: 12px;
    line-height: 1.5;
    outline: none;
    padding: 3px 0;
    text-align: left;
    text-transform: uppercase;
    transition: 0.4s;
    width: 100%;
}

.nav-sidebar button.accordion:hover {
    background-color: #F5F5F5;
}

.nav-sidebar button.accordion::after {
    content: url("../images/icons/arrow-right.svg");
    float: right;
    padding: 3px 8px 0 0;
}

.nav-sidebar button.accordion.active::after {
    content: url("../images/icons/arrow-down.svg");
    float: right;
    padding: 0;
}

.nav-sidebar .panel {
    box-shadow: 0 1px 0 #DCDCDC;
    display: none;
    height: auto;
    padding: 10px 20px;
}

.nav-sidebar .panel.show {
    display: block;
}

.nav-sidebar .panel > li {
    padding: 3px 12px;
}

.nav-sidebar .panel > li > a {
    color: #4C4C4C;
    font-size: 12px;
    line-height: 1.5;
}

.nav-sidebar .panel > li:hover > a {
    color: #000000;
}

.nav-sidebar i[class^="flaticon-"]::before {
    color: #4C4C4C;
    font-size: 20px;
}
