@import 'variables.less';

.drawer {
    position: fixed;
    z-index: 1100;
    left: -1 * (@grid-column + 2 * @grid-gutter);
    top: @navbar-height;
    bottom: 0;
    padding-right: 0;
    background-color: fade(@background-dark, 70%);
    transition: 0.25s left ease-in-out, 0.25s padding-right ease-in-out;

    .body {
        width: @grid-column + 2 * @grid-gutter;
        height: 100%;
        position: relative;

        .toggle {
            position: absolute;
            bottom: 0;
            left: ~"calc(100% -" (@spacing-small) ~")";
            background-color: @background-bright;
            font-size: 1.2em;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2 * @spacing-large + @spacing-small;
            padding-left: @spacing-small;
            height: 2 * @spacing-large;
            z-index: 1101;
            cursor: pointer;
            box-shadow: @box-shadow;
        }

        .content {
            position: relative;
            overflow: auto;
            z-index: 1102;
            height: 100%;
            padding: @grid-gutter;
            background-color: @background-bright;
            box-shadow: @box-shadow;
        }
    }

    &[data-visible=true] {
        left: 0;
        padding-right: ~"calc(100vw - " (@grid-column + 2 * @grid-gutter) ~")";
    }
}
