.landingPage-wrapper {
    background-color: #EFF3F6;
}

.align-center {
    text-align: center;
}

.navbar-top {
    background-color: #4C4C4C;
    left: 0;
    min-height: 22px;
    margin-bottom: 20px;
    position: fixed;
    right: 0;
    z-index: 1030;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
}

.navbar-right > li > a {
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 15px;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.containter-top {
    background-color: #4C4C4C;
}
/* NAVIGATION
------------- */
.navbar-top .level_1 {
    float: left;
    margin: 0;
    list-style: none;
}

.navbar-top .level_1 > li {
    float: left;
    position: relative;
    display: block;
}

.navbar-top .level_1 > li > a {
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    padding: 5px 15px;
}

.dropdown:hover .dropdown-toggle,
.navbar-top .level_1 > li > a:focus,
.navbar-top .level_1 > li > a:hover {
    background-color: #1EB1ED;
}

.dropdown {
    position: relative;
}

.level_1 > li > .dropdown-menu {
    margin-top: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 12px;
    text-align: left;
    list-style: none;
    background-color: #4C4C4C;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 35px;
    clear: both;
    line-height: 1.4;
    color: #FFFFFF;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover {
    color: #DCDCDC;
}

.dropdown-menu .add-new a {
    background-color: #DCDCDC;
    color: #4C4C4C;
    margin-top: 5px;
}

.dropdown-menu .add-new a:hover {
    color: #1EB1ED;
}

.sidebar {
    float: left;
    width: 360px;
    position: fixed;
    top: 52px;
    /*	bottom: 0;
	z-index: 1000;
*/
    display: block;
    padding: 20px 20px 40px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #FFFFFF;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}

.nav-sidebar {}

h1.sidebar-title,
h2.section-title {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.nav-sidebar button.accordion {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #DCDCDC;
    color: #4C4C4C;
    cursor: pointer;
    display: block;
    font-size: 12px;
    line-height: 1.5;
    outline: none;
    padding: 3px 0;
    text-align: left;
    text-transform: uppercase;
    transition: 0.4s;
    width: 100%;
}

.nav-sidebar button.accordion:hover {
    background-color: #F5F5F5;
}

.nav-sidebar button.accordion::after {
    content: url("../images/icons/arrow-right.svg");
    float: right;
    padding: 3px 8px 0 0;
}

.nav-sidebar button.accordion.active::after {
    content: url("../images/icons/arrow-down.svg");
    float: right;
    padding: 0;
}

.nav-sidebar .panel {
    box-shadow: 0 1px 0 #DCDCDC;
    display: none;
    height: auto;
    padding: 10px 20px;
}

.nav-sidebar .panel.show {
    display: block;
}

.nav-sidebar .panel > li {
    padding: 3px 12px;
}

.nav-sidebar .panel > li > a {
    color: #4C4C4C;
    font-size: 12px;
    line-height: 1.5;
}

.nav-sidebar .panel > li:hover > a {
    color: #000000;
}

.nav-sidebar i[class^="flaticon-"]::before {
    color: #4C4C4C;
    font-size: 20px;
}

.main {
    background-color: #FFFFFF;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    float: left;
    min-height: 200px;
    margin-left: 420px;
    padding: 20px;
    position: relative;
    width: 740px;
    top: 52px;
}

.main i[class^="flaticon-"]::before {
    color: #4C4C4C;
}

.flaticon-multiply::before {
    position: absolute;
    top: 24px;
    right: 10px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    font-size: 12px;
    font-weight: 300;
}

.table-responsive {
    display: block;
    width: 100%;
    min-height: 0;
    overflow-x: auto;
}

.table tbody {
    border-bottom: 1px solid #eceeef;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #4C4C4C;
    font-weight: 700;
    text-align: left;
}

.table td,
.table th {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}

.details-search,
.functions-edit {
    float: left;
    margin: 0 0 7px;
    list-style: none;
}

.functions-edit > li {
    display: block;
    float: left;
    position: relative;
    line-height: 1.5;
    padding: 5px 10px;
}

.functions-public {
    float: right;
    margin-right: 20px;
}

.functions-public > li {
    display: block;
    float: left;
    position: relative;
    line-height: 1.5;
    padding: 5px;
}

.functions-edit > li > a,
.functions-public > li > a {
    color: #4C4C4C;
    display: inline-block;
    font-size: 12px;
}

.top-space {
    margin-top: 20px;
}

.row h2 {
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.row p {
    font-size: 16px;
}
/* FORMS
--------- */
.form-control {
    display: block;
    width: 220px;
    padding: 0.5rem 0.75rem;
    font-size: 12px;
    line-height: 1;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
}

.form-signin {
    margin: 0 auto;
    max-width: 1170px;
    position: relative;
    z-index: 1005;
}

.form-signin h2 {
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    margin: 18px 10px 0 7%;
}

.form-signin .form-control {
    float: left;
    margin: 10px 10px 0 0;
    width: 150px;
}

.form-signin .checkbox {
    float: left;
    font-size: 14px;
    color: #FFFFFF;
    margin: 20px 10px 0 0;
}

.form-signin .btn-block {
    float: left;
    font-size: 14px;
    padding: 0;
    width: 36px;
    margin-top: 10px;
    height: 34px;
}

.container-top {
    background: url("../images/landingPage/carousel_bg.png") no-repeat #272727;
    background-size: cover;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.carousel-indicators li {
    background-color: #FFFFFF;
    border: none;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    height: 8px;
    margin: 0 5px;
    width: 20px;
}

.carousel-indicators .active {
    background-color: #ED8D05;
    height: 8px;
    margin: 0 5px;
    width: 20px;
}

.carousel-caption > p {
    font-size: 16px;
    font-weight: 300;
    padding-top: 3px;
}

.carousel-control {
  z-index: 5000;
}

.carousel-control .glyphicon-chevron-left {
    left: 20%;
}

.carousel-control .glyphicon-chevron-right {
    right: 20%;
}
/* Start Carousel */
/* Declare heights because of positioning of img element */
#startCarousel.carousel,
#startCarousel .carousel-inner {
    height: 444px;
    opacity: 1;
}

#startCarousel .carousel-inner > .item {
    height: 444px;
    .transition(.3s ease-in-out opacity);
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    z-index: 1;
}

#startCarousel .carousel-inner > .item.active {
    opacity: 1;
    .transition(.7s ease-in-out opacity);
    z-index: 2;
}

#startCarousel .carousel-inner > .item > img {
    position: relative;
    top: 30px;
    right: 0;
    min-width: 100%;
}
/* Since positioning the image, we need to help out the caption */
#startCarousel .carousel-caption {
    z-index: 10;
    top: 20%;
    text-align: left;
    left: 7%;
    right: 50%;
}

#startCarousel h2 {
    color: #EEEEEE;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}
/* MAR Carousel */
#marCarousel .fill {
    background-position: center 13px;
    background-repeat: no-repeat;
    height: 100%;
    filter: grayscale(100%) opacity(.1);
    position: absolute;
    width: 100%;
}

#marCarousel .fill-app-bg {
    background-image: url("../images/landingPage/mar-applications-bg.png");
}

#marCarousel.carousel {
    height: 450px;
    margin-top: 30px;
}

#marCarousel .carousel-indicators {
    bottom: 0;
}

#marCarousel .carousel-inner {
    height: 100%;
}

#marCarousel .first-slide {
    position: absolute;
    top: 0;
    left: 108px;
}

#marCarousel .first-slide+.carousel-caption {
    position: relative;
    top: 200px;
    left: -360px;
}

#marCarousel .second-slide {
    position: absolute;
    top: 0;
    left: 290px;
}

#marCarousel .second-slide+.carousel-caption {
    position: relative;
    top: 200px;
    left: -230px;
}

#marCarousel .third-slide {
    position: absolute;
    top: 119px;
    left: 360px;
}

#marCarousel .third-slide+.carousel-caption {
    position: relative;
    top: 320px;
    left: -160px;
}

#marCarousel .fourth-slide {
    position: absolute;
    top: 170px;
    left: 505px;
}

#marCarousel .fourth-slide+.carousel-caption {
    position: relative;
    top: 365px;
    left: -15px;
}

#marCarousel.fade {
    opacity: 1;
}

#marCarousel .item {
    .transition(.3s ease-in-out opacity);
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    z-index: 1;
}

#marCarousel .active {
    opacity: 1;
    .transition(.7s ease-in-out opacity);
    z-index: 2;
}

#marCarousel .next {
    left: 0;
    opacity: 1;
    z-index: 1;
}

#marCarousel .carousel-caption .tooltip {
    filter: alpha(opacity=1);
    opacity: 1;
    position: relative;
    text-align: center;
    display: inline-block;
}

#marCarousel .carousel-caption .tooltip-inner {
    background-color: #FFFFFF;
    border-radius: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    color: #4C4C4C;
    margin: 0 auto;
    max-width: none;
    padding: 5px 30px;
    text-align: center;
}

#marCarousel .carousel-caption .tooltip-inner::before {
    top: -20px;
    left: 50%;
    margin-left: -5px;
    color: transparent;
    content: "";
    border-width: 0 25px 20px;
    border-bottom-color: #FFFFFF;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}
/* Tools Carousel */
#toolsCarousel.carousel {
    margin-bottom: 0;
}

#toolsCarousel.fade {
    opacity: 1;
}

#toolsCarousel .item {
    .transition(.3s ease-in-out opacity);
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    z-index: 1;
}

#toolsCarousel .active {
    opacity: 1;
    .transition(.3s ease-in-out opacity);
    z-index: 2;
}

#toolsCarousel .carousel-indicators {
    left: 30%;
    position: relative;
    top: 30px;
    width: 100%;
}

#toolsCarousel .carousel-indicators .active {
    border: 3px solid #1EB1ED;
    border-radius: 35px;
}

#toolsCarousel .carousel-indicators li {
    background-color: transparent;
    border: 3px solid transparent;
    height: 70px;
    margin: 10px;
    text-indent: 0;
    width: 70px;
}

#toolsCarousel .carousel-inner {
    height: 150px;
}

#toolsCarousel .carousel-caption {
    top: 50px;
    left: 0;
    right: 0;
}

#toolsCarousel h3 {
    font-size: 16px;
    font-weight: 700;
}
/* TOOLBOX
---------- */
.toolbox .col-md-4 {
    padding: 0;
}

.panel {
    box-shadow: none;
    background-color: transparent;
}

.toolbox-panel-01 {
    background-image: url("../images/landingPage/toolbox-panel-bg-01.png") no-repeat bottom center transparent;
    padding-bottom: 24px;
}

.toolbox-panel-02 {
    background-image: url("../images/landingPage/toolbox-panel-bg-02.png") no-repeat bottom center transparent;
    padding-bottom: 26px;
}

.toolbox-panel-03 {
    background-image: url("../images/landingPage/toolbox-panel-bg-03.png") no-repeat bottom center transparent;
    padding-bottom: 30px;
}

.toolbox-panel-01 .panel-heading {
    background-image: url("../images/landingPage/toolbox-image-01.png");
}

.toolbox-panel-02 .panel-heading {
    background-image: url("../images/landingPage/toolbox-image-02.png");
}

.toolbox-panel-03 .panel-heading {
    background-image: url("../images/landingPage/toolbox-image-03.png");
}

.toolbox .panel-heading {
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 250px;
}

.toolbox .panel-body {
    height: 80px;
    padding: 20px 30px 10px;
}

.panel-body p {
    font-size: 16px;
    line-height: 24px;
}

.toolbox-icons {
    background-color: #272727;
    margin-top: 40px;
}

.toolbox .description {
    text-align: center;
    line-height: 24px;
}

.btn {
    background-color: #1EB1ED;
    border: 0;
    color: #FFFFFF;
    text-transform: uppercase;
}

.btn.more {
    margin: 20px 10px;
}
/* GEO DATABASE
--------------- */
.geo-database figure {
    text-align: center;
    margin: 30px auto;
}

.geo-panel-01 .panel-heading {
    background: url("../images/icons/geo-database-icon-01.png");
}

.geo-panel-02 .panel-heading {
    background: url("../images/icons/geo-database-icon-02.png");
}

.geo-panel-03 .panel-heading {
    background: url("../images/icons/geo-database-icon-03.png");
}

div[class*="geo-panel"] .panel-heading {
    background-position: center bottom;
    background-repeat: no-repeat;
    display: inline-block;
    height: 55px;
    margin-right: 10px;
    vertical-align: top;
    width: 55px;
}

div[class*="geo-panel"] .panel-body {
    border-left: 1px solid #1EB1ED;
    display: inline-block;
    padding: 0 0 0 15px;
    width: 80%;
}
/* FOOTER
--------- */
.footer {
    background-color: #272727;
    font-size: 14px;
    position: relative;
    padding: 20px 0;
    text-align: center;
}

.footer a {
    color: #EEEEEE;
}

.footer-col {}
