.navbar-top {
    background-color: #4C4C4C;
    left: 0;
    min-height: 30px;
    margin-bottom: 20px;
    position: fixed;
    right: 0;
    z-index: 1030;
}

.navbar-top ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
}

.navbar-right > li > a {
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 15px;
}


/* NAVIGATION
------------- */
.navbar-top .level_1 {
    float: left;
    margin: 0;
    list-style: none;
}

.navbar-top a:focus,
.navbar-top a:hover {
    text-decoration: none;
}

.navbar-top .level_1 > li {
    position: relative;
    display: inline-block;
}

.navbar-top .level_1 > li > a {
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    padding: 5px 15px;
}

.dropdown:hover .dropdown-toggle,
.navbar-top .level_1 > li > a:focus,
.navbar-top .level_1 > li > a:hover {
    background-color: #1EB1ED;
}

.dropdown {
    position: relative;
}

.level_1 > li > .dropdown-menu {
    margin-top: 0;
    border-radius: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 12px;
    text-align: left;
    list-style: none;
    background-color: #4C4C4C;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 35px;
    clear: both;
    line-height: 1.4;
    color: #FFFFFF;
    white-space: nowrap;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    color: #DCDCDC;
    background: transparent;
}

.dropdown-menu .add-new a {
    background-color: #DCDCDC;
    color: #4C4C4C;
    margin-top: 5px;
}

.dropdown-menu .add-new a:hover {
    background-color: #DCDCDC;
    color: #1EB1ED;
}
