@import 'variables.less';

body {
    padding: 0;
    margin: 0;
    background-color: @background-wrapper;
}

.application-wrapper {
    margin-top: @navbar-height;
    min-height: ~"calc(100vh -" @navbar-height ~")";
    display: flex;
    flex-direction: column;
    position: relative;

    .application-content {
        flex: 1;
    }
}

.app-width {
    margin: auto;
    min-width: @app-min-width;
    max-width: @app-max-width;
    padding-left: 2*@grid-gutter;
    padding-right: 2*@grid-gutter;
}

.padding-30 {
    padding: 30px;
}
