@import 'variables.less';

body {
    padding: 0;
    margin: 0;
    background-color: @background-wrapper;
}

.application-wrapper {
    margin-top: @navbar-height;
    position: relative;
}

.app-width {
    margin: auto;
    min-width: @app-min-width;
    max-width: @app-max-width;
}
