@import "variables.less";

.scenarioSelect {
    .item {
        margin-bottom: @spacing-regular;
        padding-bottom: @spacing-regular;
        position: relative;

        &:not(:last-child) {
            &::after {
                content: '';
                position: absolute;
                display: block;
                height: 1px;
                width: 100%;
                background-color: @grey-semi-bright;
                bottom: 0;
            }
        }

        >.thumbnail {
            width: 100%;
            height: auto;
        }

        >.toggle {
            position: absolute;
            top: @spacing-small;
            right: @spacing-small;
            background-color: @background-bright;
            box-shadow: @box-shadow;
            padding: 1px;
            border: 0;
            cursor: pointer;
        }

        &[data-selected=true] {
            >.toggle {
                color: @primary;
            }
        }
    }
}

.accordion-item {
    .scenarioSelect {
        display: flex;

        .item {
            flex: 1;
            padding: 0;
            margin: @spacing-regular;

            &::after {
                display: none;
            }
        }
    }
}
