@import "variables.less";

.scenarioSelect {
    display: flex;
    .item {
        position: relative;
        flex: 1;
        max-width: 25%;
        padding: 0;
        margin: @spacing-regular;

        >.thumbnail {
            width: 100%;
            height: auto;
        }

        >.toggle {
            position: absolute;
            top: @spacing-small;
            right: @spacing-small;
            background-color: @background-bright;
            box-shadow: @box-shadow;
            padding: 1px;
            border: 0;
            cursor: pointer;
        }

        &[data-selected=true] {
            >.toggle {
                color: @primary;
            }
        }
    }
}
