@import "variables.less";

.table {
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    thead tr {
        border-bottom: 1px solid @grey-dark;
    }

    tbody tr {
        border-bottom: 1px solid @grey-semi-bright;
    }

    td,
    th {
        padding: @spacing-small;
        vertical-align: top;
        text-align: left;
    }

    th {
        font-weight: 700;
    }

    td {
        font-weight: 300;
    }

    .sort {
        cursor: pointer;
        cursor: hand;
    }
    .sort-order {
        display:none;
    }
    .sort:after {
        padding-left: 1em;

        font-size: 0.5em;
    }
    .sort-none:after {
        content: '\21D5';

        padding-left: 0.5em;
        font-size: 1em;
    }
    .sort-asc:after {
        content: '\25BC';

    }
    .sort-desc:after {
        content: '\25B2';

    }
}
