@import "variables.less";

.input-start {
  width: auto;
  background-color: @grey-bright;
  border: 0;
  margin-left: 5px;
}
.input-readingtime {
  width: auto;
  border: 0;
  float: left;
}
.input-t16a {
  margin-left: 10px;
  margin-right: auto;

}
.parameters-sieve {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-spacing: @spacing-small;
  border-collapse: separate;
  border: 1px solid #ddd;
}
.table-sieve-bottom {
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.table-sieve-top {
  text-align: center;
  border-top: 1px solid #ddd;
}
.parameter-min {
  margin-bottom: @spacing-small;
}
